:root{
  --sl-color-accent-low:#2a0a44;
  --sl-color-accent:#8800ff;
  --sl-color-accent-high:#d8b4fe;
}
:root[data-theme='dark']{
  --sl-color-accent-low:#2a0a44;
  --sl-color-accent:#a855f7;
  --sl-color-accent-high:#e9d5ff;
}
